	.box_blog {
	width: 100%;
	height:800px;
	background-color: #D1E4F3;
}

html { box-sizing: border-box; min-height: 100% }

 .blog_title {
   
  margin-left:200px ;
  margin-top: 15px;
 
}
.title_out_box{
	float: left;
   width: 100px;
   height: 30px;
    
}

 .employee_tag{
 	float: left;
   margin-top: 10px;
    margin-left:50px ;
    
 }
 
.content{

	 margin-top:70px ;
	 margin-left: 40px;
	
}
.employee_tag{
 float: left;
 margin-left: 190px;
 margin-top: 20px;
 
}
.select_tag{
	  width: 100px;
     height: 30px;	
     margin-top: 12px;
}
.getpicture{
    position: float;
	margin-top:2px  ;
    margin-left: 50px;
	
}
.index_box{
	width: 800px;
	height:80px;
    margin-top:20px ;
    margin-left:200px ;
	
}
.index_button{
	width: 80px;
	height: 40px;
	margin-right: 20px;
	font-size: 18px;
    color: #888888;
}

.cancel_button{
	font-size: 18px;
	width: 80px;
	height: 40px;
	margin-right: 20px;
	color: #888888;
}
.model_tag{
		float: left;
   margin-top: -7px;
   
    margin-left:0px ;
     width: 100px;
     height: 30px;
}
.model_span{
   float: left;
   margin-top: 0px;
    margin-left:150px ;
}

 #form1{
 	margin-left: 100px;
 	margin-top: 30px;
 }
