

body{
		margin: 0;
		padding:0;
	}	

	.container{
		font-family: 微软雅黑;
		background: #fff;
        overflow: hidden;
	}

	.container .menu {
		
		width: 100%px;
	
		float: left;
		border-right: 1px solid #aaa;
	}
/*position 菜单背景图标*/
	.positionIicon{
		display: inline block;
		width: 32px;
		height: 32px;
		margin: 0px 0px;
		float: left;
		margin-right: 10px;
	}
/*menu图标*/
 

	.container .menu h3{
		font-size: 20px;
		cursor: pointer;
	}
    .container .menu ul{
        display: none;
    }
	.container .menu ul li{
		height: 28px;
		line-height: 28px;
	}

	.container .menu ul li a:hover{
		background: #9FB6CD;
		border-radius: 14px;
		-webkit-border-radius: 14px;
		-moz-border-radius: 14px;
		-moz-border-radius:14px;
		color:#fff;
	
	}

	ul{
		list-style: none;
	}

	a{
		text-decoration: none;
		color: #000;
		font-size: 14px;
		display: block;
		width: 180px;
		height: 26px;
		padding-left: 10px;
	}

	.container .menu .selected{
		background: #ccc;
		border-radius: 14px;
	}



	.container .content{
		margin-top: 15px;
		width: 860px;
		margin-left: 400px;
	}

	.container .content .get-menu{
		margin-left: -10px;
	}

	.container .content .get-menu a{
		display: inline-block;
		font-size: 15px;
	    height: 40px;
	}

	.container .content .get-menu a:last-child{
		margin-left: -8px;
		color: #7D9EC0;
	}

	.container .content .get-menu span{
		display: inline-block;
	    height: 40px;
	    margin-left: -110px;
	}

	.container .content .menu1 .tab {
		display: none;
	}

	.container .content .menu1 .active{
		display: block;
	}

	.container .content .menu1 .tab p{
		font-size: 14px;
		line-height: 20px;
		color: rgba(0,0,0,1);
        word-break:break-all;
	}

	.container .content .menu1 .tab .tt{
		font-size: 14px;
		font-weight: bold;

.head_left{
	height: 1000px;
	width: 230px;
	background: url(../images/index/logo.png);
}
